<p class="display-4 text-right">
    <span *ngIf="!exam">New Exam</span>
    <span *ngIf="exam">Exam #{{ exam.id }}</span>
</p>
<p class="lead text-right">Topic #{{ topic.id }} "{{ topic.title }}"</p>

<div *ngIf="examPhase === 'intro'">
    <button class="btn btn-success" (click)="startExam()">Start exam</button>
</div>

<div *ngIf="examPhase === 'exam'">

    <div *ngFor="let examQuestion of exam.examQuestions" class="question">
        <p>{{ examQuestion.question.text }}</p>
        <div *ngFor="let answer of examQuestion.question.answers">
            <input type="checkbox" id="chbx-answer-{{ answer.id }}" [ngModel]="isAnswerChecked(examQuestion.question.id, answer.id)" (change)="toggleCheck(examQuestion.question.id, answer.id)">
            <label for="chbx-answer-{{ answer.id }}">{{ answer.text }}</label>
        </div>
    </div>

    <button (click)="finishExam()">Finish</button>

    {{ exam | json }}

</div>

<div *ngIf="examPhase === 'results'">

    <p class="">Your results</p>

    <table class="table">
        <thead>
            <tr>
                <th>Metric</th>
                <th>Value</th>
                <th>Percent</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Total Questions</td>
                <td>{{ results.totalQuestionsAmount }}</td>
                <td> Not applicable </td>
            </tr>
            <tr>
                <td>Answered Questions</td>
                <td>{{ results.answeredQuestionsAmount }}</td>
                <td>{{ results.answeredQuestionsRatio | percent }}</td>
            </tr>
            <tr>
                <td>Correctly Answered Questions</td>
                <td>{{ results.correctlyAnsweredQuestionsAmount }}</td>
                <td>{{ results.correctlyAnsweredQuestionsRatio | percent }}</td>
            </tr>
            <tr>
                <td>Wrong Answered Questions</td>
                <td>{{ results.wrongAnsweredQuestionsAmount }}</td>
                <td>{{ results.wrongAnsweredQuestionsRatio | percent }}</td>
            </tr>
            <tr>
                <td>Missed Questions</td>
                <td>{{ results.missedQuestionsAmount }}</td>
                <td>{{ results.missedQuestionsRatio | percent }}</td>
            </tr>
        </tbody>
    </table>

    <button (click)="examPhase = 'intro'" class="btn btn-success float-right">Try again</button>

    <p>You can continue
        <a href="/topic/{{topicId}}/theory">study</a> theory for "{{ topic.title }}"</p>
    <p>You can
        <a href="/">select</a> another topic</p>

</div>