<div *ngIf="question">

    <input type="text" [(ngModel)]="question.text" />

    <button (click)="save()" >Save</button>
    <button *ngIf="question.id" (click)="deleteQuestion()">Delete question</button>
    <a href="/admin/topic/{{topicId}}">Back to topic</a>

    <hr>

    <button (click)="addAnswer()">Add new answer option</button>

    <div *ngFor="let answer of question.answers">
        <input type="text" [(ngModel)]="answer.text" />
        <input type="checkbox" [(ngModel)]="answer.isCorrect" />
        <button (click)="deleteAnswer(answer.id)">Delete answer</button>
    </div>


</div>
