<div class="card">
    <div class="card-header">Question №{{ question.id }}
        <button (click)="onDeleteClick()" class="btn btn-outline-danger float-right">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <div class="card-body">

        <p class="card-text">{{ question.text }}</p>

        <ol>
            <li *ngFor="let answer of question.answers">
                <label>
                    <input type="checkbox" [(ngModel)]="answer.isCorrect" disabled>
                    <span>{{ answer.text }}</span>
                </label>
            </li>
        </ol>

        <button (click)="onEditClick()" class="btn btn-success">
            <i class="fa fa-pencil-alt"></i>
            Edit
        </button>

    </div>
</div>