<chart [type]="chart.type" [data]="chart.data" [options]="chart.options" *ngIf="chart.data?.datasets?.length" ></chart>

<table class="table">
    <thead>
        <tr>
            <th rowspan="2">Metric</th>
            <th colspan="4">Amount</th>
            <th colspan="4">Percent</th>
        </tr>
        <tr>
            <th>Min</th>
            <th>Average</th>
            <th>Max</th>
            <th>Total</th>
            <th>Min</th>
            <th>Average</th>
            <th>Max</th>
            <th>Total</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                Total questions
                <button (click)="addMetric('totalQuestionsAmount')" *ngIf="!isMetricShown('totalQuestionsAmount')"
                    class="btn btn-sm btn-primary float-right">
                    <i class="fas fa-plus"></i>
                </button>
                <button (click)="deleteMetric('totalQuestionsAmount')" *ngIf="isMetricShown('totalQuestionsAmount')"
                    class="btn btn-sm btn-primary float-right">
                    <i class="fas fa-minus"></i>
                </button>
            </td>
            <td>{{ statistics.totalQuestionsAmount.min | number : '1.0-2' }}</td>
            <td>{{ statistics.totalQuestionsAmount.avg | number : '1.0-2' }}</td>
            <td>{{ statistics.totalQuestionsAmount.max| number : '1.0-2' }}</td>
            <td>{{ statistics.totalQuestionsAmount.total | number : '1.0-2' }}</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>
                Answered Questions
                <button (click)="addMetric('answeredQuestionsAmount')" *ngIf="!isMetricShown('answeredQuestionsAmount')"
                    class="btn btn-sm btn-primary float-right">
                    <i class="fas fa-plus"></i>
                </button>
                <button (click)="deleteMetric('answeredQuestionsAmount')" *ngIf="isMetricShown('answeredQuestionsAmount')"
                    class="btn btn-sm btn-primary float-right">
                    <i class="fas fa-minus"></i>
                </button>
            </td>
            <td>{{ statistics.answeredQuestionsAmount.min | number : '1.0-2' }}</td>
            <td>{{ statistics.answeredQuestionsAmount.avg | number : '1.0-2' }}</td>
            <td>{{ statistics.answeredQuestionsAmount.max| number : '1.0-2' }}</td>
            <td>{{ statistics.answeredQuestionsAmount.total | number : '1.0-2' }}</td>
            <td>{{ statistics.answeredQuestionsRatio.min | percent }}</td>
            <td>{{ statistics.answeredQuestionsRatio.avg | percent }}</td>
            <td>{{ statistics.answeredQuestionsRatio.max | percent }}</td>
            <td>{{ statistics.answeredQuestionsRatio.total | percent }}</td>
        </tr>
        <tr>
            <td>
                Correctly Answered Questions
                <button (click)="addMetric('correctlyAnsweredQuestionsAmount')" *ngIf="!isMetricShown('correctlyAnsweredQuestionsAmount')"
                    class="btn btn-sm btn-primary float-right">
                    <i class="fas fa-plus"></i>
                </button>
                <button (click)="deleteMetric('correctlyAnsweredQuestionsAmount')" *ngIf="isMetricShown('correctlyAnsweredQuestionsAmount')"
                    class="btn btn-sm btn-primary float-right">
                    <i class="fas fa-minus"></i>
                </button>
            </td>
            <td>{{ statistics.correctlyAnsweredQuestionsAmount.min | number : '1.0-2' }}</td>
            <td>{{ statistics.correctlyAnsweredQuestionsAmount.avg | number : '1.0-2' }}</td>
            <td>{{ statistics.correctlyAnsweredQuestionsAmount.max| number : '1.0-2' }}</td>
            <td>{{ statistics.correctlyAnsweredQuestionsAmount.total | number : '1.0-2' }}</td>
            <td>{{ statistics.correctlyAnsweredQuestionsRatio.min | percent }}</td>
            <td>{{ statistics.correctlyAnsweredQuestionsRatio.avg | percent }}</td>
            <td>{{ statistics.correctlyAnsweredQuestionsRatio.max | percent }}</td>
            <td>{{ statistics.correctlyAnsweredQuestionsRatio.total | percent }}</td>
        </tr>
        <tr>
            <td>
                Wrong Answered Questions
                <button (click)="addMetric('wrongAnsweredQuestionsAmount')" *ngIf="!isMetricShown('wrongAnsweredQuestionsAmount')" class="btn btn-sm btn-primary float-right">
                    <i class="fas fa-plus"></i>
                </button>
                <button (click)="deleteMetric('wrongAnsweredQuestionsAmount')" *ngIf="isMetricShown('wrongAnsweredQuestionsAmount')" class="btn btn-sm btn-primary float-right">
                    <i class="fas fa-minus"></i>
                </button>
            </td>
            <td>{{ statistics.wrongAnsweredQuestionsAmount.min | number : '1.0-2' }}</td>
            <td>{{ statistics.wrongAnsweredQuestionsAmount.avg | number : '1.0-2' }}</td>
            <td>{{ statistics.wrongAnsweredQuestionsAmount.max| number : '1.0-2' }}</td>
            <td>{{ statistics.wrongAnsweredQuestionsAmount.total | number : '1.0-2' }}</td>
            <td>{{ statistics.wrongAnsweredQuestionsRatio.min | percent }}</td>
            <td>{{ statistics.wrongAnsweredQuestionsRatio.avg | percent }}</td>
            <td>{{ statistics.wrongAnsweredQuestionsRatio.max | percent }}</td>
            <td>{{ statistics.wrongAnsweredQuestionsRatio.total | percent }}</td>
        </tr>
        <tr>
            <td>
                Missed Questions
                <button (click)="addMetric('missedQuestionsAmount')" *ngIf="!isMetricShown('missedQuestionsAmount')" class="btn btn-sm btn-primary float-right">
                    <i class="fas fa-plus"></i>
                </button>
                <button (click)="deleteMetric('missedQuestionsAmount')" *ngIf="isMetricShown('missedQuestionsAmount')" class="btn btn-sm btn-primary float-right">
                    <i class="fas fa-minus"></i>
                </button>
            </td>
            <td>{{ statistics.missedQuestionsAmount.min | number : '1.0-2' }}</td>
            <td>{{ statistics.missedQuestionsAmount.avg | number : '1.0-2' }}</td>
            <td>{{ statistics.missedQuestionsAmount.max| number : '1.0-2' }}</td>
            <td>{{ statistics.missedQuestionsAmount.total | number : '1.0-2' }}</td>
            <td>{{ statistics.missedQuestionsRatio.min | percent }}</td>
            <td>{{ statistics.missedQuestionsRatio.avg | percent }}</td>
            <td>{{ statistics.missedQuestionsRatio.max | percent }}</td>
            <td>{{ statistics.missedQuestionsRatio.total | percent }}</td>
        </tr>
    </tbody>
</table>
