<div class="row login-form">
    <div class="col-4"></div>
    <div class="col-4">
        <p class="display-4 text-right">Examify</p>

        <div class="form-group">
            <label for="input-name">User Name</label>
            <input type="text" id="input-name" [(ngModel)]="username" placeholder="User" class="form-control">
        </div>

        <div class="form-group">
            <label for="input-password">Password</label>
            <input type="password" id="input-password" [(ngModel)]="password" placeholder="Secret" class="form-control">
        </div>

        <button (click)="login()" class="btn btn-primary">Login</button>
    </div>
</div>