<h3 class="display-4 text-right">Users</h3>

<div class="add-user-btn">
    <a [routerLink]="userAddPageRoute" class="btn btn-success">
        <i class="fas fa-plus"></i>
        Add User
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ beautifyRoles(user.roles) }}</td>
            <td>
                <a class="btn btn-sm btn-warning" [routerLink]="getUserEditPageRoute(user.id)"> 
                    <i class="fa fa-pencil"></i>
                </a>

                <button class="btn btn-sm btn-danger" (click)="deleteUser(user.id)">
                    <i class="fa fa-times"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>